<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotLiquid" version="2.0.254" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NJsonSchema" version="9.13.22" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration" version="9.13.22" targetFramework="net461" />
  <package id="NJsonSchema.CodeGeneration.CSharp" version="9.13.22" targetFramework="net461" />
  <package id="NSwag.CodeGeneration" version="12.0.15" targetFramework="net461" />
  <package id="NSwag.CodeGeneration.CSharp" version="12.0.15" targetFramework="net461" />
  <package id="NSwag.Core" version="12.0.15" targetFramework="net461" />
</packages>