# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
ca-certificates=2018.03.07=0
certifi=2018.10.15=py36_0
libgcc-ng=8.2.0=hdf63c60_1
openssl=1.0.2p=h14c3975_0
pip=18.1=py36_0
python=3.6.0=0
readline=6.2=2
setuptools=40.6.2=py36_0
sqlite=3.13.0=0
tk=8.5.18=0
wheel=0.32.3=py36_0
xz=5.2.4=h14c3975_4
zlib=1.2.11=h7b6447c_3
