<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.CognitiveServices.Language.LUIS.Runtime" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.CognitiveServices.Speech" version="0.6.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.13" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.15" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>